/* Font import and global reset */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

/* Body styling */
section.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #000;
} /* Black background

/* Section styles */
section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0;
}
/* .links.forgot {
  color: white;
}
.links.forgot:hover {
  color: purple; */
/* } */

/* Animated gradient effect */
section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000, purple, #000);
  animation: animate 5s linear infinite;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
  margin-right: 6px;
  font-size: large;
}

/* Animation keyframes */
@keyframes animate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

/* Styling for individual spans */
section span {
  position: relative;
  display: block;
  width: calc(5vw - 2px); /* Adjust for more boxes */
  height: calc(7vw - 2px); /* Adjust for more boxes */
  background: #181818;
  z-index: 2;
  transition: 1.5s;
  margin: 1px; /* Gap between boxes */
}

/* section span:hover {
  background: purple;
  transition: 0s;
} */

/* Sign-in form styles */
.signin {
  position: absolute;
  width: 400px;
  background: #222;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.9);
}

.signin .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.signin .content h2 {
  font-size: 2em;
  color: purple;
  text-transform: uppercase;
}

.signin .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.signin .content .form .inputBox {
  position: relative;
  width: 100%;
}

.signin .content .form .inputBox input {
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}

.signin .content .form .inputBox i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}

.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}

.signin .content .form .links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.signin .content .form .links a {
  color: #fff;
  text-decoration: none;
}
.signin .content .form .links a:hover {
  color: rgb(234, 76, 234);
  text-decoration: underline;
}

.signin .content .form .links a:nth-child(2) {
  color: purple;
  font-weight: 600;
}

.signin .content .form .inputBox input[type="submit"] {
  padding: 10px;
  background: purple;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}

input[type="submit"]:active {
  opacity: 0.6;
}

/* Media queries for responsive design */
@media (max-width: 900px) {
  section span {
    width: calc(7vw - 2px); /* Adjusted size for medium screens */
    height: calc(7vw - 2px); /* Adjusted size for medium screens */
  }
}

@media (max-width: 600px) {
  section span {
    width: calc(12vw - 2px); /* Adjusted size for small screens */
    height: calc(12vw - 2px); /* Adjusted size for small screens */
  }
}
